@model Newly_Read.Models.Sources

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sources</h4>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.sourceID)

        <div class="form-group">
            @Html.LabelFor(model => model.name)
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category)
            <div class="col-md-10">
                @Html.EditorFor(model => model.category)
                @Html.ValidationMessageFor(model => model.category, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.url)
            <div class="col-md-10">
                @Html.EditorFor(model => model.url)
                @Html.ValidationMessageFor(model => model.url, "")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
