<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Newly Read | @ViewBag.Title</title>

    <link href="~/lib/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/css/flexboxgrid.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/lib/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link async href="http://fonts.googleapis.com/css?family=Anton" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css" />

    @RenderSection("styles", required: false)

    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @RenderPage("~/Views/Shared/_HeaderNavBar.cshtml")
    <environment names="Development">
        <script src="~/lib/scripts/jquery-3.1.1.js"></script>
        <script src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script src="~/lib/scripts/jquery.sticky.js"></script>
        <script src="~/lib/scripts/velocity.js"></script>
        <script src="~/lib/scripts/smoothState.js"></script>
        <script src="~/lib/scripts/index.js"></script>
    </environment>
    <main class="dark-toggle">
        @RenderSection("featured", required: false)
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
