@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Newly Read | @ViewBag.Title</title>

    <link href="~/lib/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/css/flexboxgrid.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/lib/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <nav id="top_nav">
            <ul id="main_nav">
                <li><a href="~/">Newly Read</a></li>
                <li class="dropdown">
                    <div class="dropdown-selector">
                        <strong>@ViewBag.Title</strong>
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                    <ul class="dropdown-content">
                        <li><a href="~/Home/Category/?category=business">Business</a></li>
                        <li><a href="~/Home/Category/?category=entertainment">Entertainment</a></li>
                        <li><a href="~/Home/Category/?category=gaming">Gaming</a></li>
                        <li><a href="~/Home/Category/?category=general">General</a></li>
                        <li><a href="~/Home/Category/?category=music">Music</a></li>
                        <li><a href="~/Home/Category/?category=science">Science and Nature</a></li>
                        <li><a href="~/Home/Category/?category=sport">Sports</a></li>
                        <li><a href="~/Home/Category/?category=technology">Technology</a></li>
                    </ul>
                </li>
                @if (User.Identity.IsAuthenticated) {
                    <li class="float-right"><a href="~/">@Context.User.Identity.Name</a></li>
                }
                <li class="float-right app-settings"><a href="~/Home/AppSettings"><i class="material-icons">settings</i></a></li>
            </ul>
        </nav>
    </header>

    <environment names="Development">
        <script src="~/lib/scripts/jquery-3.1.1.js"></script>

        <script src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script src="~/lib/scripts/jquery.sticky.js"></script>
        <script src="~/lib/scripts/velocity.js"></script>
        <script src="~/lib/scripts/smoothState.js"></script>
        <script src="~/lib/scripts/index.js"></script>

    </environment>
    <main class="dark-toggle" id="main">
        <section class="left-container">
            @RenderSection("featured", required: false)
            @RenderBody()
        </section>
        <span id="top"></span>
        <aside class="right-container dark-toggle">
            <div class="reader dark-toggle"></div>
        </aside>
    </main>


    <!--<environment names="Production">
        <script src="~/lib/scripts/jquery-3.1.1.min.js"></script>
        <script async defer src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script async defer src="~/lib/scripts/jquery.lazyload.min.js"></script>
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
        <script defer src="~/lib/scripts/index.js"></script>
    </environment>-->

    @RenderSection("Scripts", required: false)
</body>
</html>