@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Newly Read | @ViewBag.Title</title>

    <link href="~/lib/css/normalize.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/css/flexboxgrid.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/lib/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <nav id="top_nav">
            <ul>
                <li class="push-right center"><a href="~/">Newly Read</a></li>
                @if (User.Identity.IsAuthenticated) {
                    <li class="float-right"><a href="~/">@Context.User.Identity.Name</a></li>
                    <li class="float-right">@Html.ActionLink("Log Out", "IdentitySignout", "Account")</li>
                } else {
                    <li class="float-right"><a href="~/Home/AppSettings"><i class="material-icons">settings</i></a></li>
                }
                
            </ul>
        </nav>
        <nav id="categories">
            <ul>
                <li><a href="~/Home/Category/?id=business">Business</a></li>
                <li><a href="~/Home/Category/?id=entertainment">Entertainment</a></li>
                <li><a href="~/Home/Category/?id=gaming">Gaming</a></li>
                <li><a href="~/Home/Category/?id=general">General</a></li>
                <li><a href="~/Home/Category/?id=music">Music</a></li>
                <li><a href="~/Home/Category/?id=science">Science and Nature</a></li>
                <li><a href="~/Home/Category/?id=sport">Sports</a></li>
                <li><a href="~/Home/Category/?id=technology">Technology</a></li>
            </ul>
        </nav>
    </header>

    <environment names="Development">
        <script src="~/lib/scripts/jquery-3.1.1.js"></script>
        <script src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script src="~/lib/scripts/jquery.sticky.js"></script>
        <script src="~/lib/scripts/index.js"></script>
    </environment>
    <main>
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
    </main>

    <!--<environment names="Production">
        <script src="~/lib/scripts/jquery-3.1.1.min.js"></script>
        <script async defer src="~/lib/scripts/modernizr-2.8.3.js"></script>
        <script async defer src="~/lib/scripts/jquery.lazyload.min.js"></script>
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
        <script defer src="~/lib/scripts/index.js"></script>
    </environment>-->

    @RenderSection("Scripts", required: false)
</body>
</html>