@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.Owin.Security
@using System.Web.Http;

@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="~/lib/scripts/jquery.validate.min.js"></script>
    <script src="~/lib/scripts/jquery.validate.unobtrusive.min.js"></script>
    @* <script src='https://www.google.com/recaptcha/api.js'></script> *@
}
@* Uncomment if using reCAPTCHA
    @using System.Net;
    @using Newtonsoft.Json;
    // need to define this class in a .cs file:
    //
    // public class CaptchaResponse {
    //    [JsonProperty("success")]
    //    public bool Success { get; set; }
    //
    //    [JsonProperty("error-codes")]
    //    public List<string> ErrorCodes { get; set; }
    // }
    //
    @functions {
        public bool ValidateCaptcha() {
            var response = Request["g-recaptcha-response"];
            //secret that was generated in key value pair on reCAPTCHA.net
            const string secret = "YOUR KEY VALUE PAIR";

            var client = new WebClient();
            var reply =
                client.DownloadString(
                    string.Format("https://www.google.com/recaptcha/api/siteverify?secret={0}&response={1}", secret, response));

            var captchaResponse = JsonConvert.DeserializeObject<CaptchaResponse>(reply);

            // look in captchaResponse.ErrorCodes for details about the failure
            return captchaResponse.Success.AsBool();
        }
    }
*@

@{
    ViewBag.Title = "Register";

    // Initialize general page variables
    var userName = "";
    var email = "";
    var password = "";
    var confirmPassword = "";

    // If this is a POST request, validate and process data
    if (IsPost) {
        AntiForgery.Validate();
        userName = Request.Form["userName"];
        email = Request.Form["email"];
        password = Request.Form["password"];
        confirmPassword = Request.Form["confirmPassword"];

        // Validate the user's captcha answer as described on reCAPTCHA.net
        // see http://venkatbaggu.com/google-recaptcha-asp-net-mvc/ for a MVC solution
        // if (!ValidateCaptcha()) {
        //   ModelState.AddFormError("reCaptcha failure, try again.");
        // }

        var userStore = new UserStore<IdentityUser>();
        var manager = new UserManager<IdentityUser>(userStore);

        // configure passwords allowed on server
        manager.PasswordValidator = new PasswordValidator {
            RequireDigit = false,
            RequiredLength = 6,
            RequireLowercase = false,
            RequireNonLetterOrDigit = false,
            RequireUppercase = false
        };

        var user = new IdentityUser() {
            UserName = userName,
            Email = email
        };

        try {
            var result = manager.Create(user, password);

            if (result.Succeeded) {
                // could log in now or redirect to login page.
                // var authenticationManager = HttpContext.Current.GetOwinContext().Authentication;
                // var userIdentity = manager.CreateIdentity(user, DefaultAuthenticationTypes.ApplicationCookie);
                // authenticationManager.SignIn(new AuthenticationProperties() { }, userIdentity);
                Response.Redirect("~/Account/Login");
            } else {
                foreach (var error in result.Errors) {
                    // find out what Identity thought went wrong...
                }
            }
        }
        catch (Exception e) {
            // issue is more serious...
        }
    }
}

<div class="page-header">
    <h1>@Page.Title.</h1>
    <h2>Create a new account.</h2>
</div>

<div class="row list-form">
    <div class="col-xs-12 col-md-12">
        <form class="form-horizontal" method="post">
            @AntiForgery.GetHtml()
            @* If at least one validation error exists, notify the user *@
            @Html.ValidationSummary("Account creation was unsuccessful. Please correct the errors and try again.", htmlAttributes: null)


            <div class="form-group">
                <div class="col-sm-2">
                    <label for="userName" class="error-label">User Name</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" id="userName" name="userName" value="@userName" />
                </div>
            </div>
            @* Write any userName validation errors to the page *@
            @Html.ValidationMessage("userName")
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="email" class="error-label">Email</label>
                </div>
                <div class="col-sm-10">
                    <input type="text" id="email" name="email" value="@email" />
                </div>
            </div>
            @* Write any email validation errors to the page *@
            @Html.ValidationMessage("email")
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="password" class="error-label">Password</label>
                </div>
                <div class="col-sm-10">
                    <input type="password" id="password" name="password" />
                </div>
            </div>
            @* Write any password validation errors to the page *@
            @Html.ValidationMessage("password")
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="confirmPassword" class="error-label">Confirm password</label>
                </div>
                <div class="col-sm-10">
                    <input type="password" id="confirmPassword" name="confirmPassword" />
                </div>
            </div>
            @* Write any password validation errors to the page *@
            @Html.ValidationMessage("confirmPassword")


            <div class="message-info">
                <p>
                    Register for reCAPTCHA keys and get information about how to add
                    reCAPTCHA to your page at <a href="http://recaptcha.net">reCAPTCHA.net</a>.
                </p>
            </div>
            @* Replace the previous div with this one for reCAPTCHA support
                <div class="g-recaptcha" data-sitekey="SITEKEY"></div>
            *@


            <input type="submit" value="Register" />

        </form>
    </div>
</div>